@import url("header.css");
@import url("flexbox.css");
@import url("formularios.css");
@import url("footer.css");

body{
    font-family: "Chakra Petch", sans-serif;
    background: url(https://images.pexels.com/photos/4836371/pexels-photo-4836371.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1) no-repeat center center fixed;
    background-size: cover;
    box-sizing: border-box;
    overflow-x: hidden;
    margin: 0;
    font-size: 15px;
}


main {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-evenly;
}


@media (max-width: 770px){
    main{
        flex-direction: column-reverse;
    }
}
