@import url("header.css");
@import url("flexbox.css");
@import url("formularios.css");
@import url("footer.css");

body{
    font-family: "Chakra Petch", sans-serif;
    background: url(/img/personasjuego.png) no-repeat center center fixed;
    background-size: cover;
    box-sizing: border-box;
    overflow-x: hidden;
    margin: 0;
    font-size: 15px;
}


main {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-evenly;
}
