.misProductos{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 60px 0 0 0;
    width: 800px;
    height: 1050px;
    padding: 30px;
}

.subtituloElemento{
    background-color: rgb(243, 243, 248);
    opacity: 70%;
    font-size: 4em;
    font-weight: 900;
    display: flex;
    justify-content: center;
    width: 30vw;
    padding: 15px;
    border-radius: 30px;
    margin-bottom: 30px;
}

.card_container{
    margin-left: 40px;
    width: 750px;
    height: 930px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    box-shadow: -12px 10px 5.8px 0 #767373;
    overflow: auto;
    
}

.card__item{
    background-color: #737CE6;
    width: 196px;
    height: 258px;
    border-radius: 10px;
    padding: 10px 0;
    margin: 10px 0;
    gap: 10px;
    border: #2e2d2d 5px solid;
}

.card_img{
    height: 176px;
    width: 176px;
    margin: 5px;
    border-radius: 5px;
}

.card__item h3{
    padding: 5px 0;
    font-size: 20px;
    font-weight: 600;
    color: aliceblue;
}

.card__item p{
    font-weight: 800;
    font-size: 20px;
}

.descripcion-card img{
    margin-left: 160px;
}

.agregar_vacio{
    background-color: rgb(243, 243, 248);
    opacity: 70%;
    font-size: 4em;
    font-weight: 900;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25vw;
    padding: 15px;
    border-radius: 30px;
    margin-bottom: 30px;
}

@media (max-width:1420px){
    .misProductos{
        width: 600px;
        height: 650px;
        margin-top: 30px;
        padding: 30px;
    }
    
    .subtituloElemento{
        font-size: 2em;
    }
    
    .card_container{
        width: 600px;
        height: 580px;
    }
    
    .card__item{
        background-color: #737CE6;
        width: 166px;
        height: 228px;
        margin: 10px;
    }
    
    .card_img{
        height: 146px;
        width: 146px;
    }
    
    .descripcion-card img{
        margin-left: 130px;
    }

    .agregar_vacio{
        background-color: brown;
    }
    
}

@media (max-width: 1040px){
    .misProductos{
        height: 360px;
        padding: 0 30px 30px 30px;
        margin-bottom: 20px;
    }
    
    .subtituloElemento{
        font-size: 2.6em;
        font-weight: 900;
        width: 60vw;
        margin: 0 15px;
    }

    .card_container{
        margin-top: 15px;
    }
}

@media (max-width: 740px){
    .misProductos{
        width: 350px;
        height: 335px;
        margin: 0;
        padding: 0;
    }
    
    .subtituloElemento{
        font-size: 1.2em;
    }
    
    .card_container{
        width: 350px;
        height: 240px;
        padding: 0;       
        box-shadow: none;
        gap: 20px 3px;
        margin: 15px 0;
    }
    
    .card__item{
        width: 136px;
        height: 198px;
        margin: 0;
        gap: 2px;
    }

    .card_img{
        height: 116px;
        width: 116px;
    }
    
    .descripcion-card img{
        margin-left: 110px;
    }
}