.misProductos{
    display: none;
    justify-content: center;
    margin: 0;
    width: 758px;
    height: 1115px;
    padding: 30px;
}

.subtituloElemento{
    background-color: rgb(243, 243, 248);
    opacity: 70%;
    font-size: 4em;
    font-weight: 900;
    display: flex;
    justify-content: center;
    padding: 10px 0 10px 0;
    border-radius: 30px;
    margin-bottom: 30px;
}

.card_container{
    margin-left: 40px;
    width: 710px;
    height: 971px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    box-shadow: -12px 10px 5.8px 0 #767373;
    overflow: auto;
    
}

.card__item{
    background-color: #737CE6;
    width: 196px;
    height: 258px;
    border-radius: 10px;
    padding: 10px 0;
    margin-bottom: 50px;
    gap: 10px;
    box-shadow: -5px 6px 3.3px 0  #767373;
}

.card_img{
    height: 176px;
    width: 176px;
    margin-left: 10px;
    border-radius: 5px;
}

.card__item h3{
    padding: 10px 10px;
    font-size: 18px;
    font-weight: 700;
    color: aliceblue;
}

.card__item p{
    font-weight: 700;
    font-size: 18px;
    padding: 0 10px;
}

.descripcion-card img{
    margin-left: 160px;
}