.container__formulario{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 100px 0 400px 0;
    width:  600px;
    height: 600px;
    padding: 40px;
    gap: 40px;
}

.container_input{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}

.campo__escrita{
    width: 580px;
    height: 58px;
    border-radius: 30px;
    border: #5b68f4 4px solid;
    font-size: 17px;
    font-weight: 600;
}

.formulario__enviar{
    width: 188px;
    height: 55px;
    border-radius: 15px;
    background-color: #5b68f4;
    font-size: 20px;
    font-weight: 500;
    line-height: 26px;
    align-content: center;
    color: aliceblue;
    margin-right: 5px;
}

.formulario__limpiar{
    width: 188px;
    height: 55px;
    border-radius: 15px;
    border: #5b68f4 4px solid;
    font-size: 20px;
    font-weight: 500;
    line-height: 26px;
    align-content: center;
    color: #5b68f4;
    margin-left: 5px;
}

.pop-container{
    display: flex;
    width: 600px;
    background-color: #5b68f4;
    color: aliceblue;
    font-size: 30px;
    align-items: center;
    justify-content: center;
    position: fixed;
    pointer-events: none;
    opacity: 0;
    height: 600px;
}

.show {
    pointer-events: auto;
    opacity: 1;
}

.pop_up{
    background-color: aliceblue;
    color: black;
    width: 550px;
    max-width: 560px;
    height: 150px;
    padding: 80px 0;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.pop_up h1{
    font-size: 1.7em;
}

@media (max-width:1420px){
    .container__formulario{
        margin: 0;
        width:  300px;
        height: 450px;
    }
    
    /* .container_input{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 30px;
    } */
    
    .campo__escrita{
        width: 350px;
    }
    
    .formulario__enviar{
        width: 138px;
        margin-right: 5px;
    }
    
    .formulario__limpiar{
        width: 138px;
        margin-left: 5px;
    }    
}

@media (max-width: 1040px){
    .container__formulario{
        height: 400px;
        width: 500px;
    }

    .campo__escrita{
        width: 450px;
    }

}

@media (max-width: 740px){
    .container__formulario{
        margin: 10px 0 0 0;
        width:  350px;
        height: 300px;
        padding: 0;
        gap: 15px;
    }
    
    .container_input{
        gap: 10px;
    }
    
    .campo__escrita{
        width: 330px;
        height: 38px;
    }
    
    .formulario__enviar{
        width: 100px;
        height: 45px;
        font-size: 17px;
        margin-right: 5px;
    }
    
    .formulario__limpiar{
        width: 100px;
        height: 45px;
        font-size: 17px;
        margin-left: 5px;
    }
    

}